@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

// Primary
$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// Neutral
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

@mixin primaryBtn {
	font-size: 1rem;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
	background-color: $moderate-blue;
	color: $white;
	font-weight: 700;
	padding: 0.875rem 1.75rem;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}
body {
	background-color: $very-light-gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	max-width: 675px;
}

.comments-container {
	padding: 2rem 1.5rem;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.replies-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style-type: none;
	padding-left: 1rem;
	border-left: 2px solid $light-gray;
}

.replies-container > *:first-child {
	margin-top: 0.5rem;
}

.replies-container > *:last-child {
	margin-bottom: 0.5rem;
}

.comment {
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	min-height: 145px;
}

.comment-header {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.comment-user-image {
	width: 30px;
}
.comment-username {
	font-weight: 700;
	color: $dark-blue;
}

.comment-you-tag {
	font-weight: 700;
	border-radius: 2px;
	padding: 0.1rem 0.4rem;
	color: white;
	background-color: $moderate-blue;
}

.comment-created-at {
	color: $grayish-blue;
	font-weight: 500;
	font-size: 0.95rem;
}

.comment-replying-to {
	font-weight: 700;
	color: $moderate-blue;
}

.comment-content {
	font-size: 0.975rem;
	padding: 1rem 0;
	color: $grayish-blue;
	line-height: 1.5rem;
	font-weight: 500;
}

.comment-footer {
	display: flex;
	justify-content: space-between;
}

.comment-votes-container {
	display: flex;
	align-items: center;
	background-color: $very-light-gray;
	border-radius: 5px;
	gap: 0.5rem;
	& > img {
		cursor: pointer;
		padding: 0.95rem 0.85rem;
	}
}

.comment-score {
	font-weight: 700;
	color: $moderate-blue;
}

.comment-action-button-container {
	display: flex;
	gap: 1rem;
}

.desktop-comment-action-button-container {
	display: none;
}

.comment-action-button {
	background-color: $white;
	border: 0;
	font-weight: 700;
	color: $moderate-blue;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-size: 1rem;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
	&.delete {
		color: $soft-red;
	}
}

textarea {
	width: 100%;
	padding: 1rem;
	border: 2px solid $light-gray;
	border-radius: 5px;
	font-family: Rubik;
	cursor: pointer;
	&:focus {
		outline: 0;
		border-radius: 5px;
		border: 2px solid $grayish-blue;
	}
}

.new-comment-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
}

.new-comment-send {
	@include primaryBtn;
}

/* MODAL */

.modal {
	width: 100vw;
	height: 100vh;
	inset: 0;
	position: fixed;
	display: grid;
	place-items: center;
	z-index: 100;
}

.modal__card {
	background-color: white;
	position: absolute;
	max-width: 37ch;
	border-radius: 5px;
	box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	margin: 0 1rem;
}

.modal__card > h2 {
	font-weight: 700;
	color: $dark-blue;
}

.modal__card > p {
	color: $grayish-blue;
	padding: 1.25rem 0;
	font-weight: 500;
}

.modal__buttons {
	margin: 0 auto;
	width: 100%;
	display: flex;
	gap: 1rem;
}

.modal__cancel,
.modal__submit {
	@include primaryBtn;
	font-size: 0.9rem;
}

.modal__cancel {
	background-color: $grayish-blue;
	color: white;
}

.modal__submit {
	background-color: $soft-red;
	color: white;
}

/* END MODAL */

.edit-box {
	margin: 1rem 0;
	vertical-align: top;
	padding: 1rem;
	width: 100%;
	height: 100px;
}

.update-btn {
	@include primaryBtn;
}

.new-reply-container {
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
}

.new-reply-flex {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.new-reply-submit {
	@include primaryBtn;
	margin-left: auto;
}

@media (min-width: 700px) {
	.desktop-flex {
		display: flex;
		flex-direction: row-reverse;
		align-items: start;
		justify-content: start;
	}

	.edit-box {
		margin-bottom: 4rem;
		margin-left: 3.5rem;
	}

	.update-btn {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}

	.comment-action-button-container {
		display: none;
	}

	.comment {
		position: relative;
	}
	.comment-content {
		padding-left: 0;
	}
	.comment-header,
	.comment-content {
		padding-left: 3.5rem;
	}

	.comment-votes-container {
		flex-direction: column;
		position: absolute;
		top: 1rem;
	}
	.desktop-comment-action-button-container {
		display: flex;
		margin-left: auto;
		gap: 1.25rem;
	}
}
